<% provide(:title, "Characters | ") %>
<% provide(:body_class, "signup-page") %>

<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
          <div class="card card-signup">

            <form class="form" method="post" action="/characters">

              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

              <div class="header header-primary text-center">
                <h4>New Character</h4>
              </div>

              <div class="content">

                <%= render 'shared/error_messages' %>

                <div class="input-group">
                  <span class="input-group-addon"><i class="material-icons">face</i></span>
                  <input type="text" class="form-control" placeholder="Name *" name="character[name]">
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="material-icons">favorite</i></span>
                  <input type="number" class="form-control" placeholder="Health points (between 50 and 100) *" name="character[health_points]">
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="material-icons">whatshot</i></span>
                  <input type="number" class="form-control" placeholder="Attack points (between 5 and 20) *" name="character[attack_points]"/>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="material-icons">comment</i></span>
                  <input type="text" class="form-control" placeholder="Bio" name="character[bio]"/>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="material-icons">photo</i></span>
                  <input type="url" class="form-control" placeholder="Profile picture url" name="character[img_url]"/>
                </div>

              </div>

              <div class="footer text-center">
                <input type="submit" value="Create" class="btn btn-simple btn-success btn-lg">
              </div>
            </form>

          </div>
        </div><!-- /col-md-4 col-sm-6 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /header -->

  <div class="main main-raised">
    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <% @characters.each do |character| %>

            <div class="col-md-6">
              <div class="card card-nav-tabs character">

                <div class="header header-danger">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                          <%= content_tag(:a, "Profile", href: "#profile-#{character.id}", "data-toggle" => "tab") %>
                        </li>
                        <li>
                          <%= content_tag(:a, "Edit", href: "#edit-#{character.id}", "data-toggle" => "tab") %>
                        </li>
                        <li>
                          <%= content_tag(:a, "Delete", href: "#delete-#{character.id}", "data-toggle" => "tab") %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="tab-content text-center">
                    <%= tag(:div, class: "tab-pane active", id: "profile-#{character.id}") %> <!-- div tab-pane (profile) -->
                      <h2><%= character.name %></h2>

                      <% if character.img_url.present? %>
                        <%= image_tag(character.img_url, class: "img-circle img-responsive") %>
                      <% end %>

                      <div class="row">
                        <div class="col-md-6">
                          <h4>
                            <i class="material-icons">favorite</i><br>
                            Health : <%= character.health_points %>
                          </h4>
                        </div>
                        <div class="col-md-6">
                          <h4>
                            <i class="material-icons">whatshot</i><br>
                            Attack : <%= character.attack_points %>
                          </h4>
                        </div>
                      </div>

                      <% if character.bio.present? %>
                        <hr>
                        <h4>Bio</h4>
                        <p><%= character.bio %></p>
                      <% end %>
                    </div> <!-- /tab-pane (profile) -->
                    <%= tag(:div, class: "tab-pane", id: "edit-#{character.id}") %> <!-- div tab-pane (edit) -->

                      <form class="form" method="post" action="/edit">

                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="character[id]" value="<%= character.id %>">

                          <div class="input-group">
                            <input type="text" class="form-control" value="<%= character.name %>" name="character[name]">
                          </div>

                          <div class="input-group">
                            <input type="number" class="form-control" value="<%= character.health_points %>" name="character[health_points]">
                          </div>

                          <div class="input-group">
                            <input type="number" class="form-control" value="<%= character.attack_points %>" name="character[attack_points]"/>
                          </div>

                          <div class="input-group">
                            <input type="text" class="form-control" value="<%= character.bio %>" name="character[bio]"/>
                          </div>

                          <div class="input-group">
                            <input type="url" class="form-control" value="<%= character.img_url %>" name="character[img_url]"/>
                          </div>

                          <input type="submit" value="Save Changes" class="btn btn-warning">
                      </form>

                    </div><!-- /div tab-pane (edit) -->
                    <%= tag(:div, class: "tab-pane", id: "delete-#{character.id}") %> <!-- div tab-pane (delete) -->
                      <h5>Do you want to delete <%= character.name %> ?</h5>

                      <form method="post" action="/delete">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="character[id]" value="<%= character.id %>">

                        <input type="submit" value="Delete" class="btn btn-danger">
                      </form>

                    </div><!-- /div tab-pane (delete) -->
                  </div>
                </div><!-- /content -->

              </div><!-- /card -->
            </div><!-- /col-md-6 -->

          <% end %>
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /section -->
  </div><!-- /main -->

</div><!-- /wrapper -->


